<div class="position-relative text-center mb-6" style="height:100px">
  <h1><%= @list.name %></h1></br>
  <span class="movie-tag "><%= pluralize(@list.movies.size, 'movie') %></span>
</div>
<div class="container mb-5 mt-6">
  <div class="d-flex justify-content-center my-4 mt-6">
    <div>
       <%= link_to 'add a movie', new_list_bookmark_path(@list), class: 'btn btn-flat border border-dark' %>
       <button id="sweet-alert-demo" class="btn btn-cancel border border-dark"> delete list </button>
      <%= link_to '', list_path(@list), method: :delete, id: "delete-link", class: "hidden" %>
      <%= link_to 'back', lists_path, class: 'btn btn-flat border border-dark' %>
    </div>
  </div>
  <div class="list-container">
  <div class="row">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <div class="col-10 col-sm-3 mb-6" data-aos="zoom-in">
          <div class="movie-card border border-dark">
            <%= image_tag movie.poster_url, alt: movie.title, class: 'movie-img rounded-top'%>
              <div class="p-3 rounded-bottom d-flex flex-column" style="height: 400px"  >
                <strong><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %></span></strong>
                <small class="text-muted"><%= movie.overview %></small>
                <div class="d-flex align-items-end justify-content-between pt-4">
                  <div>
                  <small class="flex-grow-1 border text-decoration-none"><%= bookmark.comment %></small>
                </div>
                <small class="text-right flex-shrink-0"><%= link_to 'x', bookmark_path(bookmark), method: :delete%></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
